* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

a:link {text-decoration: none ; color: black}
a:visited {color: black }
a:hover { color: black}

body {
    font-size: 1.6rem;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    min-width: 62.2rem;
}
.header {
    display: flex;
    justify-content:flex-end;
        min-height: 60px;
        width: 100vw;
        

}
.nav {
    font-size: 1.3rem;
    display: flex;
    flex-wrap: wrap;
    width: 232.047px;
    height: 48px;
    justify-content: space-around;
    align-items: center;
}
.nav__logo1 {
    width: 35px;
    height: 35px;
    background-image: url("../imagenes/9puntos.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.nav__logo2 , .nav_imag2{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}


.main_container_box1 {
    height: 40%;
}
.logoGoogle {
    height: 9.2rem;
    width: 27.2rem;
}

.main_container_box2 {
    min-height: 42%;
    padding: 0.5rem;
}

.container-buscador {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: grey 1px solid;
    justify-content: space-between;
    align-items: center;
    width: 56rem;
    height: 3.9rem;
    padding: 0 10px 0 10px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.container-buscador:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

.container-buscador_itemBuscador , .input-buscador{
    display: flex;
    justify-content: center;
    height: 3.7rem;
    flex-grow: 1;
    padding-left: 5px;
    font-size: 1.6rem;
    
}

.input-buscador:focus-visible {
    border:red 1px;
    outline: none;
}


.input-buscador {
    border:none
}

.container-botones{
    padding-top: 3.5rem;
    width: 56rem;
    display: flex;
    
    flex-direction: row;
    justify-content: center;
}
.boton {
    height: 3.4rem;
    width: auto;
    margin: 0 8px 0 8px;
    padding: 0 8px 0 8px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color:#3c4043
    
}

.boton:hover {
    border: solid 1px #eeeef1;
    box-shadow: 0px 1px 1px  #0000001a;
    border: 1px solid #dadce0
}



.buscaLogoLupa {
    width: 13px;
    height: 15px;
    margin-left: 4px;
    margin-top: 4px;
}

    
.buscaLogoMicro {
    width: 11px;
    height: 17px;
    margin-right: 8px;
    margin-top: 4px;
}
.main_container_box3 {
    height: 18%;
    font-size: 1.3rem;
    margin-top: 13px;
    color: #3c4043;
    
    
}
        .main_container_box {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    

footer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.footer-container_box2 {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
}


.footer-container_box1 {
    background-color: rgb(239, 239, 241);
    padding-left: 27px;
    height: 42px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    border-bottom: 1px solid #dadce0;
    color: rgba(0,0,0,.54)
}
.footer-container_box2 {
    background-color: rgb(239, 239, 241);
    padding-left: 20px;
    padding-right: 20px;
    height: 4.3rem;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    justify-content: space-between;
    }
    .footerBox2_div1 {
        display: flex;
        width: 50.5rem;
        justify-content: space-around;
        flex-wrap: wrap;
        
    }
    .footerBox2_div2 {
        display: flex;
        width: 31.1rem;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .footer-container_box2>div>a{
        color: #70757a;        
    }